/*
Project:    react-news
Author:     Evan Henley
Author URI: http://henleyedition.com/
====================================== */


/* Colors and Other Variables
====================================== */

// palette
$dark: #040203;
$color1: $dark;
$color2: #C7D1C0;
$color3: #EB5252;
$dark-gray: mix($dark, white);
$light-gray: #e5e5e5;

$text: $dark;
$header: $color1;
$panel: $color3;
$link: $color3;
$button-text: #fff;
$button: $color3;
$panel-button: $color3;
$background: $light-gray;
$upvoted: $color3;

// borders/margins/padding
$line: 2px;

// dimensions
$nav-height: 4rem;
$footer-height: $nav-height;
$content-width: 700px;

$x-small: 0.5rem;
$small: 1rem;
$medium: 2rem;
$large: 3rem;

// media query breakpoints
$breakpoint: 800px;




/* Reset
====================================== */

* {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

*, *:before, *:after {
    box-sizing: border-box;
}



/* Typography
====================================== */

$font-size: 110%;
$line-height: 1.55;

$heading-font: "Source Sans Pro", Arial, sans-serif;
$body-font: "Source Sans Pro", Arial, sans-serif;
$monospace: "Ubuntu Mono", "Andale Mono", AndaleMono, Consolas, monaco, monospace;

$text-small: 0.76em;



/* Animations
====================================== */

@keyframes slide-in {
    0% { 
        opacity: 0;
        transform: translateY(-10px);
    }
}

.content-enter {
    opacity: 0.01;
    transition: opacity 0.4s ease-in-out;
}
.content-enter.content-enter-active {
    opacity: 1;
}

.content-leave {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

.content-leave.content-leave-active {
    opacity: 0.01;
}


/* Structure
====================================== */

html {
    height: 100%;
    max-height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: $body-font;
    height: 100%;
    max-height: 100%;
    line-height: $line-height;
    color: $dark-gray;
    background: $background;
    font-size: $font-size;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.wrapper {
    min-height: 100%;
}

.content {
    min-height: 100%;
    margin-top: $nav-height + $medium !important;
    padding: $small;
    background: #fff;
}


/* General
====================================== */

h1 { margin-top: 0; }
h1,h2,h3,h4,h5,h6 {
    font-family: $heading-font;
}

a {
    color: $link;
    cursor: pointer;
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

// forms


form {
    input,
    textarea,
    button {
        margin-bottom: $small;
    }
}

textarea {
    display: block;
}

input,
textarea,
button {
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 2px;
    max-width: 100%;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {
    padding: $x-small;
    box-shadow: 0 0 0 $line $light-gray;
    &:focus {
        box-shadow: 0 0 0 $line $dark;
    }
}


/* Utilities/Helpers
====================================== */

.cf {
    *zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.vertical {
    display: table-cell;
    vertical-align: middle;
}

.shadow {
    text-shadow: 0px 0px 100px black;
}

// responsive wrapper
.inner {
    position: relative;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }
.float-right { float: right; }
.float-left  { float: left; }

.full-width {
    width: 100% !important;
}

.pointer {
    cursor: pointer !important;
}

.no-underline {
    text-decoration: none !important;
}

.faded {
    opacity: 0.7;
}

// buttons

.button {
    position: relative;
    padding: 0.3rem $small;
    border-radius: 2px;
    border: none;
    box-shadow: none;
    color: $button-text;
    transition: background 0.2s;
    &:active {
        margin-top: 1px;
    }
    &:hover {
        text-decoration: none;
    }
}

.button-primary {
    background: $button;
    border-bottom: 2px solid darken($button, 10%);
    &:active {
        border-bottom-width: 1px;
    }
    &:hover {
        background: darken($button, 5%);
    }
}

.button-panel {
    line-height: 0;
    background: transparent;
    border: 2px solid #fff;
    border-bottom-width: 3px;
    &:active {
        border-bottom-width: 2px;
    }
    &:hover {
        background: lighten($panel, 5%);
    }
}





/* Navbar
====================================== */

.header {
    z-index: 3;
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
    line-height: $nav-height;
    color: #fff;
    overflow: visible;
    a { color: #fff; }
    > div {
        display: inline-block;
    }
}

.header-main,
.header-panel {
    position: absolute;
        left: 0; right: 0;
    height: $nav-height;
}

.header-main {
    z-index: 1;
    background: $header;
}

.panel-toggle {
    position: relative;
    display: block;
    float: right;
    height: $nav-height;
    width: $nav-height;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    user-select: none;

    &:before,
    &:after {
        transition: transform 0.3s;
    }

    span {
        position: absolute;
            top: 50%;
            left: 50%;
        display: block;
        width: 2rem;
        height: 2rem;
        margin-top: -1rem;
        margin-left: -1rem;
        border-radius: 2px;
        border: $line solid #fff;
        font-size: 0;
    }

    &:before,
    &:after {
        z-index: 2;
        content: '';
        position: absolute;
            top: 50%;
            left: 35%;
        display: block;
        height: 0;
        border-bottom: $line solid #fff;
        margin-top: -1px;
        width: 30%;
        background: $dark;
    }

    &:before { transform: rotate(90deg); }
    &:after  { transform: rotate(0); }

    .panel-open & {
        &:before { transform: rotate(135deg); }
        &:after  { transform: rotate(45deg); }
    }
}

.header-title {
    padding: $x-small $medium;
}

.user-info,
.profile-link,
.nav-pic {
    display: inline-block;
}

.profile-link {

}

.nav-pic {
    width: $medium;
    height: $medium;
    margin-right: 0.8rem;
    margin-left: $medium;
    vertical-align: middle;
    border-radius: 50%;
    // filter: grayscale(100%);
}




/* Post Panel
====================================== */

.header-panel {
    z-index: -1;
    padding: 0 2%;
    background: $panel;
    color: #fff;
    a { color: #fff; }
    transition: transform 0.3s;
    transform: translateY(0);
    font-size: 0;
    line-height: $nav-height;
    .panel-open & {
        transform: translateY($nav-height);
    }
}

.panel-form {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: initial;
    > * {
        display: inline-block;
        margin: 0;
        padding: 0 ($nav-height - 1.8rem) / 2;
        height: $nav-height - 1.8rem;
    }
    > *:not(:first-child) {
        margin-left: 2%;
    }
}

.panel-input {
    max-width: 38%;
    color: $dark-gray;
    box-shadow: 0 0 0 $line $panel !important;
    &:focus {
        box-shadow: 0 0 0 $line $dark !important;
    }
}



/* Posts
====================================== */

.post {
    background: #fff;
    & + & {
        margin-top: $small;
    }
}

.post-title {
    font-family: $heading-font;
}

.hostname {
    font-size: $text-small;
    margin-left: 0.6em;
    color: $dark; 
    a { color: $dark; }
}

.comments-link {
    margin-left: $small;
    color: $dark;
    &.comments-some {
        color: $link;
    }
}

.upvote + label {
    user-select: none;
    transition: color 0.3s;
    color: $dark;
}
.upvote:checked + label {
    color: $upvoted;
}

.post-info,
.comment-info {
    font-size: $text-small;
}

.posted-by {
}



/* Single Post
====================================== */

.comments {}

.comment {
    // animation: slide-in 0.5s;
    margin: $small 0;
    background: #fff;
    & + & {
        margin-top: $small;
    }
}

.comment-form {
    margin-top: $medium;
}

.comment-text {
}

.comment-input {
    margin: $small 0;
}





/* Login/Registration
====================================== */

.login {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
}

.login-form {
    display: inline-block;
}

