/*
Project:    react-news
Author:     Evan Henley
Author URI: http://henleyedition.com/
====================================== */


/* Colors and Other Variables
====================================== */

// palette
$dark: #040203;
$color1: #449dd1;
$color2: #78c3fb;
$dark-gray: #7a8b99;
$light-gray: #f1f1f1;
$error: #d00;

$text: $dark;
$header: $color1;
$panel: lighten($color1, 10%);
$link: $color1;
$button-text: #fff;
$button: $color1;
$button-gray: #cccfd0;
$panel-button: $color1;
$background: $light-gray;
$upvoted: $color1;

// borders/margins/padding
$line: 2px;

// dimensions
$nav-height: 4rem;
$footer-height: $nav-height;
$content-width: 700px;

$x-small: 0.5rem;
$small: 1rem;
$medium: 2rem;
$large: 3rem;

// media query breakpoints
$breakpoint: 800px;




/* Reset
====================================== */

@import 'normalize';

* {
    hyphens: auto;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

*,*:before, *:after {
    box-sizing: border-box;
}



/* Typography
====================================== */

$font-size: 110%;
$line-height: 1.55;

$heading-font: 'Source Sans Pro', Arial, sans-serif;
$body-font: 'Source Sans Pro', Arial, sans-serif;
$monospace: 'Ubuntu Mono', 'Andale Mono', AndaleMono, Consolas, monaco, monospace;

$text-small: 0.76em;



/* Animations
====================================== */

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}


/* Structure
====================================== */

html {
    height: 100%;
    max-height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    height: 100%;
    max-height: 100%;
    line-height: $line-height;
    color: $dark-gray;
    background: $background;
    font-family: $body-font;
    font-size: $font-size;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern' 1;
    font-kerning: normal;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#content {
    margin: 0 auto;
    padding-top: $nav-height !important;
}

.content {
    position: relative;
    display: inline-block;
    padding: $medium $small;
    background: #fff;
}


/* General
====================================== */

h1 { margin-top: 0; }
h1,h2,h3,h4,h5,h6 {
    font-family: $heading-font;
}

a {
    color: $link;
    cursor: pointer;
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

hr {
    border: 0;
    border-bottom: 1px solid $light-gray;
}

// forms

form {
    input,
    textarea,
    button {
        &:not(:last-child) {
            margin-bottom: $small;
        }
    }
}

textarea {
    display: block;
}

input,
textarea,
button {
    -webkit-appearance: none;
    border: 0;
    outline: none;
    box-shadow: none;
    border-radius: 2px;
    max-width: 100%;
}

[type='text'],
[type='password'],
[type='email'],
[type='url'],
textarea {
    transition: border 0.2s;
    padding: $x-small;
    border: $line solid $light-gray;
    &:focus {
        border: $line solid darken($light-gray, 10%);
    }
}


/* Utilities/Helpers
====================================== */

.cf {
    *zoom: 1;
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

.vertical {
    display: table-cell;
    vertical-align: middle;
}

.shadow {
    text-shadow: 0 0 100px $dark;
}

// responsive wrapper
.inner {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.float-right { float: right !important; }
.float-left { float: left !important; }

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.pointer {
    cursor: pointer !important;
}

.no-underline {
    text-decoration: none !important;
}

.faded {
    opacity: 0.7;
}

.sr-only {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

// buttons

.button {
    position: relative;
    padding: 0.3rem $small;
    border-radius: 2px;
    border: 0;
    box-shadow: none;
    color: $button-text;
    background: $button-gray;
    border-bottom: 2px solid darken($button-gray, 10%);
    transition: background 0.2s;
    &:active {
        margin-top: 1px;
        border-bottom-width: 1px;
    }
    &:hover {
        text-decoration: none;
        background: darken($button-gray, 3%);
    }
}

.button-primary {
    background: $button;
    border-bottom: 2px solid darken($button, 10%);
    &:hover {
        background: darken($button, 3%);
    }
}

.button-outline {
    background: transparent;
    border: 2px solid #fff;
    border-bottom-width: 3px;
    &:active {
        border-bottom-width: 2px;
    }
}

// .button-gray {
//     background: $dark-gray;

//     &:active {
//         border-bottom-width: 1px;
//     }
//     &:hover {
//         background: darken($button, 3%);
//     }
// }

.react-spinner {
    position: relative;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    // my changes
    transform: translateY($small);
    .button & {
        width: 27px;
        height: 27px;
    }
}

.react-spinner_bar {
    animation: react-spinner_spin 1.2s linear infinite;
    border-radius: 5px;
    position: absolute;
    width: 20%;
    height: 7.8%;
    top: -3.9%;
    left: -10%;
    // my changes
    background: $dark;
    .button & {
        background: #fff;
    }
}

@keyframes react-spinner_spin {
    0% { opacity: 1; }
    100% { opacity: 0.15; }
}

.fade-in {
    animation: fade-in 0.6s;
}

.error {
    color: $error;
}




/* Navbar
====================================== */

.header {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: $nav-height;
    color: #fff;
    overflow: visible;
    a { color: #fff; }
    > div {
        display: inline-block;
    }
}

.header-main,
.header-panel {
    position: absolute;
    left: 0;
    right: 0;
    height: $nav-height;
}

.header-main {
    z-index: 1;
    background: $header;
}

.menu-title {
    padding: $x-small $small;
}

.panel-toggle {
    position: relative;
    display: block;
    float: right;
    width: 2rem;
    height: 2rem;
    padding: 2rem;
    cursor: pointer;
    text-align: center;
    user-select: none;

    &:before,
    &:after {
        z-index: 2;
        content: '';
        position: absolute;
        top: 50%;
        left: 32%;
        display: block;
        height: 2px;
        width: 36%;
        background: #fff;
        margin-top: -1px;
        transition: transform 0.3s;
    }

    &:before { transform: rotate(90deg); }
    &:after { transform: rotate(0); }

    .panel-open & {
        &:before { transform: rotate(135deg); }
        &:after { transform: rotate(45deg); }
    }
}

.header-title {
    padding: $x-small $medium;
}

.register-link {
    margin-left: $small;
}

.profile-link {
    display: inline-block;
}

.nav-pic {
    width: $medium;
    height: $medium;
    margin-right: 0.8rem;
    margin-left: $medium;
    vertical-align: middle;
    border-radius: 50%;
    // filter: grayscale(100%);
    @media screen and (max-width: 600px) {
        display: none;
    }
}

// .username {}



/* Post Panel
====================================== */

.header-panel {
    z-index: -1;
    padding: $small;
    background: $panel;
    transition: transform 0.3s;
    transform: translateY(0);
    font-size: 0;
    color: #fff;
    a { color: #fff; }
    .panel-open & {
        transform: translateY($nav-height);
    }
}

.panel-form {
    display: inline-block;
    height: 100%;
    text-align: center;
    font-size: initial;
    > * {
        float: left;
        margin: 0;
    }
    > *:not(:first-child) {
        margin-left: 2%;
    }
}

.panel-input {
    height: 100%;
    width: 36%;
    color: $dark-gray;
    border: $line solid #fff !important;
    &:focus {
        border: $line solid $light-gray !important;
    }
    &.input-error {
        border: $line solid $error !important;
    }
}

.panel-button {
    width: 24%;
    line-height: 0;
    padding: 0.8rem 0 0.9rem 0;
    &:hover {
        background: darken($panel, 5%);
    }
}



/* Posts
====================================== */

.posts {
    counter-reset: post;

    .post-link:before {
        content: counter(post);
        display: inline-block;
        float: right;
        padding-left: 6px;
        line-height: 1.2;
        color: #ddd;
    }
}

.post {
    position: relative;
    counter-increment: post;
    background: #fff;
    & + & {
        margin-top: $small;
    }
}

.post-link,
.comment-text {
    line-height: 1.2;
}

.post-title {
    font-family: $heading-font;
    margin-right: 0.6em;
}

.hostname {
    font-size: $text-small;
    color: $dark;
    a { color: $dark; }
}

// .comments-link {}

.upvote {
    transition: color 0.3s;
    color: $dark-gray;
    &:hover {
        text-decoration: none;
    }
}

.upvoted {
    color: $upvoted;
}

.post-info,
.comment-info {
    margin-top: 0.2rem;
    font-size: $text-small;
}

// .posted-by {}

.post-info-item:before {
    content: '\00b7';
    display: inline-block;
    margin: 0 0.3rem;
}

.sortby {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin: 0 $x-small;
    padding-right: 1.5rem;
    background: lighten($light-gray, 3%);
    transition: background 0.2s;
    &:after {
        content: '\f0dd';
        font-family: FontAwesome;
        z-index: 0;
        position: absolute;
        right: $x-small;
        top: 20%;
        font-size: 10px;
    }
    &:hover {
        background: $light-gray;
    }
}

.sortby-label {
    display: inline-block;
    vertical-align: middle;
}

.sortby-select {
    z-index: 2;
    position: relative;
    width: 140%;
    padding-left: $x-small;
    border: 0;
    background: transparent;
    color: $dark;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 $dark;
    }
    &:focus {
        outline: none;
    }
}

.sortby-options {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
}

.sortby-show {
    opacity: 1;
}

.next-page {
    display: block;
    padding: 4px 0;
    text-align: center;
}


/* Single Post
====================================== */

// .comments {}

.comment {
    // animation: slide-in 0.5s;
    margin: $small 0;
    background: #fff;
    & + & {
        margin-top: $small;
    }
}

.comment-form {
    margin-top: $medium;
}

// .comment-text {}

.comment-input {
    margin: $small 0;
}





/* Login/Registration
====================================== */

.login {
    padding: $small $medium $medium $medium;
}

.login-form {
    display: inline-block;
    max-width: 195px;
    input {
        width: 100%;
    }
}

.login-error {
    margin-top: $small;
}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    .md-show & {
        visibility: visible;
    }
}

.md-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: rgba($color1, 0.8);
    transition: all 0.3s;
    text-align: center;
    &.md-show {
        opacity: 1;
        visibility: visible;
    }
}


