
/* General
====================================== */

h1 { margin-top: 0; }
h1,h2,h3,h4,h5,h6 {
    font-family: $heading-font;
}

a {
    color: $link;
    cursor: pointer;
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

hr {
    border: 0;
    border-bottom: 1px solid $light-gray;
}

// forms

form {
    input,
    textarea,
    button {
        &:not(:last-child) {
            margin-bottom: $small;
        }
    }
}

textarea {
    display: block;
}

input,
textarea,
button {
    -webkit-appearance: none;
    border: 0;
    outline: none;
    box-shadow: none;
    border-radius: 2px;
    max-width: 100%;
}

[type='text'],
[type='password'],
[type='email'],
[type='url'],
textarea {
    transition: border 0.2s;
    padding: $x-small;
    border: $line solid $light-gray;
    
    &:focus {
        border: $line solid darken($light-gray, 10%);
    }
}
